*{
	font-family: Montserrat,sans-serif,Arial, Helvetica;
}

ul {
	list-style-type: none;
	margin-left: -8px;
	margin-right: -8px;
	padding: 0;
	overflow: hidden;
	background-color: #4169E1;
	}

li {
	float: left;
	}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 60px;
	text-decoration: none;
	}

li a:hover {
	color: lightgray;
	}

h2{
	text-align: center;
	margin-left: 20px;
	color: gray;
	}

div.container {
	margin-top: 15px;
	border-radius: 5px;
	margin-left: 19%;
	width: 33%;
	}

input, select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	}

footer {
	text-align: center;
	float: center;
	background-color: #4169E1;
	color: white;
	position: fixed; /*Fixes the position of footer*/
	bottom: 0px;
	left: 0px;
	right: 0px;
	font-size: 13px;
	height: 8%;

	}
		
table, th, td {
	border: 0rem ;
	border-collapse: collapse;
	font-weight: 350;
	padding: 0.5rem;
	text-align: center;
	background-color: #ADD8E6;
	border-radius: 25px;
	cursor: pointer;
	}
		
.OutputContainer{
	width: 40%;
	margin-right: 50px;
	float: right;
	margin-top: -150px;
	cursor: pointer;
	}
     	
.TableArea {
    height: 50%; 
    width: 50%;
    padding-top: 7%;
    padding-left: 2%;
    margin-left: 30px;
	}
 
.chartContainer{
	height: 250px; 
	width: 100%;
	}     	

td:nth-child(1){
	color: red;
	}
		
td:nth-child(2){
	color: green;
	}

td:nth-child(3){
	color: blue;
	}

td:nth-child(4){
    color: red;
	}

td:nth-child(5){
	color: black;
	}

td:nth-child(6){
	color: green;
	}

td:nth-child(7){
	color: brown;
	}

